body {
  background-color: #000000;
  margin: auto;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
a {
  color: aliceblue;
  text-decoration: none;
  cursor: pointer;
}

.main-section {
  margin: 2.5rem;
  height: calc(var(--vh,1vh)*100 - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: auto;
}

.upper {
  display: flex;
  justify-content: space-between;
}

.nav {
  padding-left: 40px;
}

.text {
  width: 32rem;
  padding-right: 50px;
}

.name {
  align-self: flex-start;
}

.intro {
  font-size: 18px;
  margin-top: 16px;
}

.text-name {
  font-size:150px;
  font-weight: 1000;
  margin: 0px 60px;
  max-width: 100%;
}

nav ul li {
  display: inline;
  margin: 15px;
  cursor: pointer;
}

a img {
  width: 30px;
  margin: 5px 5px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: -100vh;
  left: 0;
  z-index: 0;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.75s;
}

.close-menu {
  position: absolute;
  width: 25px;
  right: 80px;
  top: 50px;
  cursor: pointer;
}

.overlay li {
  font-size: 24px;
}

@media (max-width: 972px) {
  .main-section {
    align-content: space-around;
    height: calc(var(--vh,1vh)*100 - 120px);
  }

  .upper {
    flex-direction: column;
  }

  .text {
    padding-left: 50px;
    padding-right: 0;
  }
}

@media (max-width: 748px) {
  .intro {
    font-size: 16px;
  }
  .text-name{
    font-size: 102px;
  }
}


@media (max-width: 638px) {
  nav ul li {
    margin: 0;
  }

  .text {
    width: 24rem;
    padding-left: 0;
  }

  .nav {
    padding: 0;
  }

  .intro {
    font-size: 16px;
  }
  
  .text-name{
    font-size: 72px;
    align-self: flex-start;
  }
  
  .main-section{
    margin: 1.5rem;
  }
}

@media (max-width: 508px) {
  .text {
    width: 18rem;
  }
  
  .intro {
    font-size: 14px;
  }
  
  .text-name{
    font-size: 64px;
  }
}

@media (max-width: 432px) {
  .text-name{
    font-size: 56px;
  }
  
  .main-section {
    margin: 2rem;
  }
}